{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" id="wishList" class="wish-list">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Wishlist Items</h3>
	<div class="row">
		<div class="col-md-3">
			{% include 'user/user-sidebar.html' %}
		</div>
		<div class="col-md-9">
			<div class="table-responsive">
				<table class="table-bordered table" id="table">
					<thead>
						<tr>
							<th>Title</th>
							<th>Image</th>
							<th>Price</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						{% for wl in wlist %}
						<tr>
							<td><a href="/product/{{wl.product.slug}}/{{wl.product.id}}" style="text-decoration: none; color: black">{{wl.product.title}}</a></td>
							<td>
								<a href="/product/{{wl.product.slug}}/{{wl.product.id}}"><img width="100" src="/media/{{wl.product.image}}" alt="{{wl.product.title}}"></a>
							</td>
							<td>$ {{wl.product.price}}</td>
							<td><a class="primary-btn" href="{% url 'deletewishlist' wl.product.id %}" onclick="return confirm('Are You Sure?')"><i class="fa fa-trash" style="color: red;"></i></a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>
{% endblock %}