{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <pre></pre><pre></pre>
    <b><p style="font-size: 34px; text-align: center;   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Crop List</p></b>
<main class="container my-4" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <b><p style="text-align: left; font-size: 25px;">Lettuce Plants</p></b>
    <div class="row">
        <div class="container" style="text-align: left; font-size: 24px;">
            <p>Experience fresh and crispy lettuce varieties like crunchy romaine, smooth butterhead, or delicate lollo rossa. Perfect for refreshing salads, these crops are in high demand by consumers, grocers, and chefs.</p>
            <pre></pre><pre></pre>
            <div class="row">
                <div class="container" style= "width: 30rem;">
                    <img width="400rem", src="media/homekits/lettuce1.jpeg">
                </div>

                <div class="card border-0" style= "width: 30rem; font-size: 20px; line-height: 2;">
                    <p>&#10003; Summer Crisp &emsp; &#10003;</i> Romaine &emsp; &#10003;</i> Oakleaf </p>
                    <p>&#10003;</i> Lollo Rossa &emsp; &#10003;</i> Leaf &emsp; &#10003;</i> Butterhead </p>
                    <p>&#10003;</i> Bibb </p>           
                </div>
            </div>  
        </div>
    </div>
    <pre></pre><pre></pre><pre></pre>
    <hr>
    <pre></pre><pre></pre><pre></pre>

    <b><p style="text-align: left; font-size: 25px;">Leafy Greens</p></b>
    <div class="row">
        <div class="container" style="text-align: left; font-size: 24px;">
            <p>Rich in flavor and vibrant in color, leafy greens like kale, Swiss chard and spicy arugula grow very well in these Kits. The versatility and nutritional value of these plants make them the staples of many international cuisines.</p>
            <pre></pre><pre></pre>
            <div class="row">
                <div class="card border-0" style= "width: 30rem; font-size: 20px; line-height: 2; margin-left: 8%;">
                    <p>&#10003; Arugula &emsp; &#10003;</i> Claytonia &emsp; &#10003;</i> Collards </p>
                    <p>&#10003;</i> Dandelion &emsp; &#10003;</i> Kale &emsp; &#10003;</i> Mizuna </p>
                    <p>&#10003; Mustard Greens &emsp; &#10003;</i> Orach &emsp; &#10003;</i> Tatsoi </p>
                    <p>&#10003;</i> Radicchio &emsp; &#10003;</i> Spinach &emsp; &#10003;</i> Swiss Chard </p>
                    <p>&#10003;</i> Watercress </p>           
                </div>

                <div class="container" style= "width: 30rem;">
                    <img width="400rem", src="media/homekits/leaf.jpg">
                </div>
            </div>  
        </div>
    </div>
    <pre></pre><pre></pre><pre></pre>
    <hr>
    <pre></pre><pre></pre><pre></pre>

    <b><p style="text-align: left; font-size: 25px;">Herbs Plants</p></b>
    <div class="row">
        <div class="container" style="text-align: left; font-size: 24px;">
            <p>Enhance the flavor of any dish with fragrant herbs like sweet basil, peppery oregano, or fresh mint. Most of these crops typically grow in warm-weather climates, so year-round availability is important for at-home cooks and professional chefs looking to add sophistication to their dishes.</p>
            <pre></pre><pre></pre>
            <div class="row">
                <div class="container" style= "width: 30rem;">
                    <img width="400rem", src="media/homekits/herbs.jfif">
                </div>
                <div class="card border-0" style= "width: 30rem; font-size: 20px; line-height: 2;">
                    <p>&#10003; Basil &emsp; &#10003;</i> Cutting Celery &emsp; &#10003;</i> Chervil </p>
                    <p>&#10003;</i> Chives &emsp; &#10003;</i> Cilantro &emsp; &#10003;</i> Mizuna </p>
                    <p>&#10003; Fennel Leaf &emsp; &#10003;</i> Marjoram &emsp; &#10003;</i> Mint </p>
                    <p>&#10003;</i> Oregano &emsp; &#10003;</i> Parsley &emsp; &#10003;</i> Rosemary </p>
                    <p>&#10003;</i> Sage &emsp; &#10003;</i> Shiso &emsp; &#10003;</i> Sorrel </p>
                    <p>&#10003;</i> Thyme </p>           
                </div>
            </div>  
        </div>

    </div>
    <pre></pre><pre></pre><pre></pre>
    <hr>
    <pre></pre><pre></pre><pre></pre>
</main>
</body>
{% endblock %}