{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<main class="container my-4" id="cartList" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;">
    <img src="/media/payment/red 1.png" style="width: 4rem; margin-top: 9%;">
    <pre></pre>
    <p style="font-size: 27px;">Payment Failed <i class="fa fa-frown-o" style="font-size:36px"></i></p>
    <p style="font-size: 27px;">Please Try again</i></p>
    <pre></pre><pre></pre><pre></pre><pre></pre><pre></pre><pre></pre><pre></pre><pre></pre>
</main>
{% endblock %}