{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4" style="margin-top: 50%;" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">{{data.title}}</h3>
	<div class="row">
		<!-- Images -->
		<div class="col-md-4">
			<img id="zoom_01" data-zoom-image="/media/{{data.image}}" src="/media/{{data.image}}" class="card-img-top" alt="{{data.title}}">
		</div>
		<div class="col-md-8">
			<h5>{{data.detail|linebreaks}} </h5>
			<hr/>
            <h5>Specifications:</h5><h5>{{data.specs|linebreaks}}</h5>
            <div class="input-group-append">
            <h5>Price: $ <span class="product-price-{{data.id}}" id="product_price">{{data.price}}</h5></span>
            <input type="number" style="width:9%; height: 5%; margin-left: 5%;"value="1" class="form-control product-qty-{{data.id}}" id="productQty" />
			  	<input type="hidden" class="product-image-{{data.id}}" value="{{data.image}}" id="product_image" />
		        <input type="hidden" class="product-id-{{data.id}}" value="{{data.id}}" id="product_id" />
		        <input type="hidden" class="product-title-{{data.id}}" value="{{data.title}}" id="product_title"/>
				{% if user.is_authenticated %}
				<button class="btn btn-dark btn-sm add-to-cart" style="height: 34px; margin-left: -1%;" data-index="{{data.id}}" type="button" id="addToCartBtn"><i class="fa fa-shopping-cart"></i> Add to Cart</button>		
				{% else %}
				<button class="btn btn-dark btn-sm" style="height: 34px; margin-left: -1%;" data-index="{{data.id}}" type="button" id="addToCartBtn"><a onclick="return confirm('Kindly Login to Continue')"><i class="fa fa-shopping-cart"></i> Add to Cart</a></button>
				{% endif %}
			</div>
	</div>

		<!-- Reviews -->
		<div class="col-md-6" style="margin-left:33%; margin-top: 3%;">
			<h3 class="my-3">Reviews - <span class="avg-rating">{{avg_reviews.avg_rating}}</span>/5 <i class="fa fa-star text-warning"></i>
				{% if user.is_authenticated %}
				<button data-toggle="modal" data-target="#productReview" type="button" class="btn btn-warning btn-sm reviewBtn" style="margin-right: 15%;">Add Review</button>
				{% endif %}
			</h3>
	{% if user.is_authenticated %}
	<!-- Product Review -->
	<div class="modal fade" id="productReview" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel" >Add Product Review</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<form method="post" id="addForm" action="{% url 'save-review' data.id %}">
	      		{% csrf_token %}
		      	<table class="table table-bordered">
		      		{{reviewForm.as_table}}
		      		<tr>
		      			<td colspan="2">
		      				<button type="submit" class="btn btn-primary">Submit</button>
		      				<input type="reset" class="btn btn-dark" value="Reset" id="reset" />
		      			</td>
		      		</tr>
		      	</table>
		      	<p class="ajaxRes"></p>
	      </form>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Product Review End -->
	{% endif %}
			</h3>
			<div class="card" style="width: 30rem;">
				<div class="card-body review-list" style="max-height: 400px; overflow: auto;">
					<!-- Detail -->
					{% if reviews %}
						{% for review in reviews %}
						<blockquote class="blockquote text-left">
						  <small>{{review.review_text}}</small>
						  <footer class="blockquote-footer">{{review.user}} 
						  	<cite title="Source Title">
						  		{% for star in review.review_rating|ljust:review.review_rating %}
						  		<i class="fa fa-star text-warning"></i>
								{% endfor %}
						  	</cite>
						  </footer>
						</blockquote>
						{% endfor %}
					{% else %}
						<p class="no-data">Add First Review</p>
					{% endif %}
				</div>
			</div>
		</div>
</main>
<!-- Image Zoom -->
<script src="{% static 'jquery.ez-plus.js' %}"></script>
<script type="text/javascript">
    $('#zoom_01').ezPlus();
</script>

<!-- Add To Cart -->
<script src="{% static 'custom.js' %}"></script>

{% endblock %}