{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px;">
<div class="container" style="text-align: center;">
<h1> Terms And Conditions</h1> <br>
<h4> <b>Privacy and Policy </b></h4>
<p>
    This website is operated by Grow Green Fresh. 
    Throughout the site, the terms “we”, “us” and “our” refer to Grow Green Fresh. 
    Grow Green Fresh offers this website, including all information, tools and services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here.
</p>
<br>
<h4><b>Usage of personal Data</b></h4>
<p>We may use Personal Data for the following purposes:</p>
</div>
<div class="container" style="text-align: left;">
<ul>
    <li>
        To provide you with the Products and services you request from us. This includes storing and retrieving Personal Data as needed by our Customers, processing transactions with Customers, communicating with our Customers, and for any other purposes that our Customers request;
    </li>
    <li>
        To enforce our Terms of Use and any other agreements;
    </li>
    <li>As otherwise required or permitted by law;</li>
    <li>To improve, modify, and measure the performance of our Platform.</li>
</ul>
</div>
<br>
<div class="container" style="text-align: center;">
<h4><b> General Conditions</b></h4>
<p>We reserve the right to refuse service to anyone for any reason at any time. You understand that your content (not including credit card information), may be transferred unencrypted and involve Transmissions over various networks; Changes to conform and adapt to technical requirements of connecting networks or devices. Credit card information is always encrypted during transfer over networks. You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service or any contact on the website through which the service is provided, without express written permission by us. The headings used in this agreement are included for convenience only and will not limit or otherwise affect these Terms</p>
</div>
</main>
{% endblock %}
